# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gamef\Desktop\3 курс\На сдачу сейчас(3 курс ИСТ)\О.В. 3 курс\Viewer(Task7)\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
